# Honors Assignment

Exercise 1: Using Joins

Write and execute a SQL query to list the school names, community names and average attendance for communities with a hardship index of 98.

In [ ]:
SELECT PS.NAME_OF_SCHOOL, PS.COMMUNITY_AREA_NAME, PS.AVERAGE_STUDENT_ATTENDANCE
FROM chicago_public_schools PS LEFT JOIN chicago_socioeconomic_data SD
ON PS.COMMUNITY_AREA_NUMBER = SD.COMMUNITY_AREA_NUMBER
WHERE SD.HARDSHIP_INDEX = 98

Write and execute a SQL query to list all crimes that took place at a school. Include case number, crime type and community name.

In [ ]:
SELECT C.CASE_NUMBER, C.PRIMARY_TYPE, S.COMMUNITY_AREA_NAME
FROM chicago_crime C LEFT JOIN chicago_socioeconomic_data S
ON C.COMMUNITY_AREA_NUMBER = S.COMMUNITY_AREA_NUMBER
WHERE C.LOCATION_DESCRIPTION LIKE '%SCHOOL%'

Exercise 2: Creating a View

In [ ]:
CREATE OR REPLACE VIEW SCHOOL_VIEW AS
SELECT NAME_OF_SCHOOL School_Name, Safety_Icon Safety_Rating, Family_Involvement_Icon Family_Rating, Environment_Icon Environment_Rating, Instruction_Icon Instruction_Rating, Leaders_Icon Leaders_Rating, Teachers_Icon Teachers_Rating
FROM chicago_public_schools;

SELECT * FROM SCHOOL_VIEW;

SELECT School_Name, Leaders_Rating FROM SCHOOL_VIEW;

Exercise 3: Creating a Stored Procedure

Write the structure of a query to create or replace a stored procedure called UPDATE_LEADERS_SCORE that takes a in_School_ID parameter as an integer and a in_Leader_Score parameter as an integer.

Inside your stored procedure, write a SQL statement to update the Leaders_Score field in the CHICAGO_PUBLIC_SCHOOLS table for the school identified by in_School_ID to the value in the in_Leader_Score parameter.

Inside your stored procedure, write a SQL IF statement to update the Leaders_Icon field in the CHICAGO_PUBLIC_SCHOOLS table for the school identified by in_School_ID using the following information.

In [ ]:
DELIMITER //
DROP PROCEDURE IF EXISTS UPDATE_LEADERS_SCORE //

CREATE PROCEDURE UPDATE_LEADERS_SCORE(IN in_School_ID INTEGER, IN in_Leader_Score INTEGER)
BEGIN
    UPDATE chicago_public_schools
    SET Leaders_Score = in_Leader_Score
    WHERE School_ID = in_School_ID;
    
    IF in_Leader_Score > 0 AND in_Leader_Score < 20 THEN
        UPDATE chicago_public_schools
        SET Leaders_Icon = 'Very weak'
        WHERE School_ID = in_School_ID;
    ELSEIF in_Leader_Score < 40 THEN
        UPDATE chicago_public_schools
        SET Leaders_Icon = 'Weak'
        WHERE School_ID = in_School_ID;
    ELSEIF in_Leader_Score < 60 THEN
        UPDATE chicago_public_schools
        SET Leaders_Icon = 'Average'
        WHERE School_ID = in_School_ID;
    ELSEIF in_Leader_Score < 80 THEN
        UPDATE chicago_public_schools
        SET Leaders_Icon = 'Strong'
        WHERE School_ID = in_School_ID;
    ELSEIF in_Leader_Score < 100 THEN
        UPDATE chicago_public_schools
        SET Leaders_Icon = 'Very strong'
        WHERE School_ID = in_School_ID;
    END IF;
END //

DELIMITER ;

SELECT School_ID, Leaders_Score, Leaders_Icon
FROM chicago_public_schools
WHERE School_ID = 610038;

CALL UPDATE_LEADERS_SCORE(610038, 50);

SELECT School_ID, Leaders_Score, Leaders_Icon
FROM chicago_public_schools
WHERE School_ID = 610038;

Exercise 4: Using Transactions

Update your stored procedure definition. Add a generic ELSE clause to the IF statement that rolls back the current work if the score did not fit any of the preceding categories.

In [ ]:
DELIMITER //
DROP PROCEDURE IF EXISTS UPDATE_LEADERS_SCORE //

CREATE PROCEDURE UPDATE_LEADERS_SCORE(IN in_School_ID INTEGER, IN in_Leader_Score INTEGER)
BEGIN
    UPDATE chicago_public_schools
    SET Leaders_Score = in_Leader_Score
    WHERE School_ID = in_School_ID;
    
    IF in_Leader_Score > 0 AND in_Leader_Score < 20 THEN
        UPDATE chicago_public_schools
        SET Leaders_Icon = 'Very weak'
        WHERE School_ID = in_School_ID;
    ELSEIF in_Leader_Score < 40 THEN
        UPDATE chicago_public_schools
        SET Leaders_Icon = 'Weak'
        WHERE School_ID = in_School_ID;
    ELSEIF in_Leader_Score < 60 THEN
        UPDATE chicago_public_schools
        SET Leaders_Icon = 'Average'
        WHERE School_ID = in_School_ID;
    ELSEIF in_Leader_Score < 80 THEN
        UPDATE chicago_public_schools
        SET Leaders_Icon = 'Strong'
        WHERE School_ID = in_School_ID;
    ELSEIF in_Leader_Score < 100 THEN
        UPDATE chicago_public_schools
        SET Leaders_Icon = 'Very strong'
        WHERE School_ID = in_School_ID;
    ELSE
    	ROLLBACK WORK;
    END IF;
    COMMIT WORK;
END //

DELIMITER ;

SELECT School_ID, Leaders_Score, Leaders_Icon
FROM chicago_public_schools
WHERE School_ID = 610038;

CALL UPDATE_LEADERS_SCORE(610038, 38);

SELECT School_ID, Leaders_Score, Leaders_Icon
FROM chicago_public_schools
WHERE School_ID = 610038;